/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fdf5e4;
  font-family: 'Source Sans Pro', sans-serif;
}

.center{
  width: 40%;
  margin: 0 auto;
}

.marginlf{
  margin-left: 10%;
}

.bordeaux{
  color: #e05a7c;
}

/* regole header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdbb40;
  height: 140px;
  position: relative;
}

header>img{
  position: absolute;
  top: -30px;
  right: -50px;
}

/* regole main */
main{
  background-color: #fff;
  padding: 40px 0;
}

#burgername{
  border: none;
  font-size: 20px;
}

/* regole lista */
.content-list>h3{
  margin: 20px 0;
}
.content-list>ul{
  list-style-type: none;
  column-count: 2;
}

.content-list li{
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.content-list li>img{
  width: 50px;
}

.content-list li>span{
  padding: 0 20px;
}

.content-list li>input{
 pointer-events: none;
}

/* regole calcolator */
.content-totalcal{
  margin-top: 20px;
}

.content-totalcal>div{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

label[for=coupon]{
  font-size: 20px;
  font-weight: bold;
}

#coupon{
  width: 70%;
  margin-left: 2%;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #fdf5e4;
}

#calculate{
  font-size: 20px;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  background-color: #efba54;
  outline: none;
  cursor: pointer;
}

#calculate:hover{
  background-color: #bc3b59;
  color: #fff;
}

/* regole footer */
footer{
  background-color: #bc3b59;
  color: #fff;
}

.content-price{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-price span{
  font-size: 25px;
  font-weight: bold;
}

.content-price>div{
  margin-right: 8%;
}
